# Project exclude paths
.env
/.gradle/
/out/
/.idea/
/.kotlin/

# Ignore build directories
build/
application/build/
common/build/
core-api/build/
database/build/
discord-bot/build/
web/build/
.claude

# Node / JS tooling
node_modules/
web/node_modules/

# Ignore test resources
/build/libs/toby-bot-6.1-SNAPSHOT.jar
