<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/guildListPage :: singleAction(
        pageTitle='TobyBot - Tip',
        cssPath='/css/leaderboard.css',
        emoji='💸',
        headingTitle='Tip',
        description='Send another user some social credit. Daily outgoing cap applies per server.',
        actionHref='/tip/{id}',
        actionLabel='💸 Send a tip',
        pickerPath='/tip/guilds',
        emptyEmoji='💸',
        emptyHeading='No servers to tip in yet',
        emptyBody='You need to share at least one server with TobyBot to send a tip.')}">
</html>
